{% extends 'base.html' %}
{% load static %}
{% block stylesheets %} <link rel="stylesheet" href="{% static 'css/admin.css' %}">{% endblock %}
{% block title %} Mr Warehouse | Store Management System {% endblock %}
{% block main %}
{% load crispy_forms_tags %}
<main>
    <!-- row 2 -->
    <div class="row mt-5">
        <div class="col-12 border-0 first_card">
            <div class="card">
                <div class="card-body d-flex align-items-center justify-content-between">
                    <div class="col">
                        <h3 class="fw-bold fw-bold animate__animated animate__bounce animate__infinite	infinite animate__pulse animate__slower	3s">Welcome {{user |title}}</h3>
                        <small class="small_blue fst-italic">..stock record control sheet</small>
                    </div>
                    <div class="col d-flex align-items-center justify-content-end">
                        <img src="{% static 'img/logo_2.png' %}" width="140px" height="80px" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
      <!-- end -->
    <div class="container">
        <div class="row">
            <div class="col">
                {% include 'partials/messages.html' %}
            </div>
        </div>
    </div>
</main>

{% endblock %}